.container {
  background-color: #010927;
  padding: 60px 10%;
  color: #ffffff;
  z-index: 1;
  position: relative;

  
  scroll-margin-top: 100px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.image {
  width: 260px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.text {
  max-width: 700px;
  z-index: 2;
}

.heading {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.heading span {
  color: #4aa7ff;
}

.subheading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #4aa7ff;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button {
  padding: 12px 24px;
  background-color: #4aa7ff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 30px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(74, 167, 255, 0.7);
  display: inline-block;
}

.button:hover {
  background-color: #217bdc;
  box-shadow: 0 0 20px #217bdc;
  transform: translateY(-2px);
}
